extends layout

block content
  section.jumbotron
    .container
      h1= title
        br
        small Created for FreeCodeCamp
  section.container
    form.inline-form(action="get-file-size" method="post" enctype="multipart/form-data")
      .form-group.row  
        .col-xs-12.col-sm-2
          label.col-form-label(for="form") Choose a file:
        .col-xs-12.col-sm-4
          input.form-control(type="file" name="file")
        .col-xs-12.col-sm-4
          button.btn.btn-primary.pull-left(type="submit") Submit
